---
layout: default
---

<div class="home">

    <nav class="navbar flex-column navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ site.baseurl }}/">Mat-App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="nav nav-tabs flex-column flex-md-row" id="nav-tab" role="tablist">
                    <a class="nav-link disabled" data-bs-toggle="tab" data-bs-target="#breakfast" type="button"
                            role="tab" aria-controls="breakfast" aria-selected="true">Frukost
                    </a>
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#lunch" type="button"
                            role="tab" aria-controls="lunch" aria-selected="false">Middag
                    </a>
                    <a class="nav-link disabled" data-bs-toggle="tab" data-bs-target="#dessert" type="button"
                            role="tab" aria-controls="dessert" aria-selected="false">Mellanmål
                    </a>
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#advice" type="button"
                            role="tab" aria-controls="advice" aria-selected="false">Allmänna råd
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
            <!-- TODO -->
        </div>
        <div class="tab-pane fade show active" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">

            {% include roulette.html %}

            <div class="recipes xs-px1 xs-mt2">
                <div class="clearfix">
                    {% assign sorted = site.recipes | sort:"date" %}
                    {% for post in sorted %}

                    <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
                        <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
                            <div class="image ratio bg-cover" {% for image in post.image %}
                                 style="background-image:url({{site.baseurl}}/images/{{ image }});" {% endfor %}></div>
                            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="dessert-tab">
            <!-- TODO -->
        </div>
        <div class="tab-pane fade" id="advice" role="tabpanel" aria-labelledby="advice-tab">

            {% assign sorted = site.advices | sort:"date" %}
            {% for post in sorted %}

            <div class="container">

                <!-- call up the image and image credit link -->
                {% for image in post.image %}
                <div class="xs-p2">
                    <img itemprop="image" src="{{site.baseurl}}/images/{{ image }}" alt="recipe image"/>
                    {% if post.orginalrecept %}
                    {% for orginalrecept in post.orginalrecept %}
                    <a href="{{ orginalrecept }}" class="right">
                        <img src="{{site.baseurl}}/assets/whisk.svg" height="14" width="14" alt="Länk till orginalreceptet är här!">
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}

                <article class="post-content px2">
                    <header class="post-header">
                        <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ post.title }}</h1>
                    </header>

                    <div class="px2 mt3 clearfix">
                        <div class="sm-col-8 mx-auto" itemprop="description">{{post.content | markdownify }}</div>
                    </div>
                </article>

            </div>

            {% endfor %}

        </div>
    </div>

</div>
