<script type="text/javascript">
    function roulette() {
        const lunchOptions = [
            {
                name: "Chicken tikka masala",
                image: "{{ site.baseurl }}/images/chicken-tikka-masala.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/chicken-tikka-masala"
            },
            {
                name: "Krämig kycklingpasta med soltorkad tomat",
                image: "{{ site.baseurl }}/images/kycklingpasta-med-soltorkadtomat.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/kycklingpasta-med-soltorkadtomat"
            },
            {
                name: "Saffranskryddad fisksoppa med lax och torsk",
                image: "{{ site.baseurl }}/images/saffranskryddad-fisksoppa.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/saffranskryddad-fisksoppa"
            },
            {
                name: "Sparrispaj med parmesan och spenat",
                image: "{{ site.baseurl }}/images/sparrispaj-med-parmesan-och-spenat.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/sparrispaj-med-parmesan-och-spenat"
            },
            {
                name: "Sweet chililax i ugn med ris",
                image: "{{ site.baseurl }}/images/sweet-chilli-lax.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/sweetchililax-i-ugn-med-ris"
            },
            {
                name: "Vattenmelonsallad med mynta och grillad halloumi",
                image: "{{ site.baseurl }}/images/vattenmelonsallad.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/vattenmelonsallad"
            },
            {
                name: "Vegetarisk Lasagne",
                image: "{{ site.baseurl }}/images/vegetarisk-lasagne.jpeg",
                url: "{{ site.baseurl }}/recipes/lunch/vegetarisk-lasagne"
            }
        ];

        const selectedRecipe = lunchOptions[Math.floor(Math.random() * lunchOptions.length)];

        document.getElementById("roulette-image").src=selectedRecipe.image;
        document.getElementById("roulette-text").innerHTML=selectedRecipe.name;
        document.getElementById("roulette-link").href=selectedRecipe.url;
    }
</script>

<div class="container-sm pt-2">
    <div class="row justify-content-center">
        <div class="sm-col lg-col-6">
            <div class="card text-center">
                <a href="#" id="roulette-link">
                    <img src="{{ site.baseurl }}/assets/peas-plate.jpg" class="card-img-top img-fluid" id="roulette-image"
                         alt="roulette image">
                </a>
                <div class="card-body">
                    <p class="card-text" id="roulette-text">Vet du inte vad du ska äta idag?</p>
                    <a href="#" class="btn btn-primary" onclick="roulette()">Matroulette</a>
                </div>
            </div>
        </div>
    </div>
</div>