---
layout: default
---
<div class="container">

    <div class="container pt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Hem</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.shortTitle }}</li>
            </ol>
        </nav>
    </div>

    <!-- call up the image and image credit link -->
    {% for image in page.image %}
    <div class="xs-p2">
        <img itemprop="image" src="{{site.baseurl}}/images/{{ image }}" alt="recipe image"/>
        {% if page.orginalrecept %}
        {% for orginalrecept in page.orginalrecept %}
        <a href="{{ orginalrecept }}" class="right">
            <img src="{{site.baseurl}}/assets/whisk.svg" height="14" width="14" alt="Länk till orginalreceptet är här!">
        </a>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <article class="post-content px2">
        <header class="post-header">
            <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ page.title }}</h1>
        </header>

        <div class="px2 mt3 clearfix">
            <div class="sm-col-8 mx-auto" itemprop="description">{{page.content | markdownify }}</div>
        </div>
    </article>

</div>
